<div class="card  mt-3">
    <div class="card-header">
        <label>inventory</label>
        <button class="btn btn-outline-dark ml-1" (click)="openModal()">Add</button>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of partList; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>EDIT/DELETE</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #addPartModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addPartForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" formControlName="name" id="name"
                    placeholder="Enter Name" />
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" formControlName="price" id="price"
                    placeholder="Enter Price" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn-outline-dark pull-right" aria-label="Close" (click)="savePart()">Save</button>
    </div>
</ng-template>